* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    background-color: #39a6b3;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}







/* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

#logo {
    overflow: clip;
    max-width:15%;
    max-height:15%;

    
}
.intro {
    display: flex;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
}

.intro-two {
    display: flex;
    border-radius: 2px;
    justify-content: center;
}


header nav {
    margin: 12px 10px;
    border-style: groove;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}
body {
    display: block;
}

.background-color {
    background-color: beige;
}
.font-color {
    color: black;
}